 .blockOnPrint{display:all}
 .hideOnPrint{display:all}
 .bodyBackground{}
 
 #navActions{}
 
 #navBar a {
 	color: #FFFFFF;
 	text-decoration: none;
 	padding: 4px 6px;
 	margin-left: -3px;
 }
 
 div, img, table, tr, td, form {
 	padding: 0;
 	margin: 0;
 	border: none;
 }
 
 #top {
 	width: 100%;
 	height: 87px;
 	margin: 0;
 	padding: 0;
 	background: #FF7518;
 	vertical-align: bottom;
 }
 
 #top input {
 	display: block;
 	margin-bottom: 2px;
 }
 
 #top table{
 	height: 100%;
 	margin-left: 27px;
 }
 
 #top img {
 	margin-right: 5px;
 }
 
 #navBar {
 	background: #ADAEAD;
 	padding: 4px 20px 4px 90px;
 	height: 23px;
 	font-size: 9pt;
 	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 }
 
 #menu {
 	display:inline;
 	position: relative;
 }
 
 #intranet {
 	display: inline;
 	position: relative;
 	margin-left: 50px;
 }
 
 #login {
 	top: 91px;
 	right: 10px;
 	display: inline;
 	position: absolute;
 }
 
 #intranet a {
 	border-left: 2px solid #FFFFFF;
 }
 
 #intranet a:hover {
 	background: #FFBA10;
 }
 
 #menu a {
 	border-right: 2px dotted #FFFFFF;
 }
 
 #menu a:hover {
 	color: #FFFFFF;
 	border-right: 2px dotted #FFFFFF;
 }
 
 #menu a.firsta {
 	border-left: 2px dotted #FFFFFF;
 }
 
 #menu a.firsta:hover{
 	background: #FFBA10;
 }
 
 a.2a:hover {
 	background: #FF9210;
 }
 
 a.3a:hover {
 	background: #FF7110;
 }
 
 a.4a:hover {
 	background: #FF5910;
 }
 a.5a {
 	background: #FF3808;
 }
 a.6a:hover {
 	background: #FF0808;
 }
 a.7a:hover {
 	background: #EF1000;
 }
 a.8a:hover {
 	background: #D60000;
 }
 
 .search {
 	width: 100px;
 	text-align: left;
 	padding-top: 2px;
 	padding-right: 10px;
 	vertical-align: top;
 }
 
 .searchField {
 	width: 96px;
 }
 
 a.advanced {
 	width: 108px;
 	height: 27px;
 	background: url("images/topright-advsearch-normal.png");
 }
 
 a.advanced:hover {
 	background: url("images/topright-advsearch-mouseover.png");
}