body      {
	color:           #211e1e;
	font-size:        9pt;
	font-family:      Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	background-color: #F5F5F5 }


h1    {
	color:      #211e1e;
	font-weight: bold;
	font-size:   12pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }


h2     {
	color:      #211e1e;
	font-weight: bold;
	font-size:   10pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
h3 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   9pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.address             {
	color:       #211e1e;
	font-size:    8pt;
	font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-left: 2pt }


.squaretext   {
	color:       #211e1e;
	font-size:    9pt;
	line-height:  15px;
	font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-left: 2pt }
.squaretextlink   {
	color:       #f5f5f5;
	font-size:    9pt;
	line-height:  15px;
	font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-left: 2pt }

.squaretexthl   {
	color:       #211e1e;
	font-weight:  bold;
	font-size:    9pt;
	line-height:  15px;
	font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-left: 2pt }
.addressmail     {
	color:          #f5f5f5;
	font-size:       8pt;
	line-height:     15px;
	font-family:     Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none;
	padding-left:    2pt }

.bodytext  {
	color:      #211e1e;
	font-style:  normal;
	font-weight: normal;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; list-style-type: disc}
.bodytext-bold {
	color:      #211e1e;
	font-weight: bold;
	font-size:   9pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.h1 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   12pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.h2 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   10pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.h3 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   9pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.bodytext-italic {
	color:      #211e1e;
	font-style:  italic;
	font-size:   9pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.lastupd     {
	color:       #211e1e;
	font-style:   italic;
	font-size:    7pt;
	font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-left: 2pt;
	top:          20pt }
.path    {
	color:          #211e1e;
	font-size:       7pt;
	line-height:     25pt;
	text-decoration: none }

.pathcurrentpage  {
	color:      #211e1e;
	font-weight: bold }
.lastupdmailto     {
	color:          #f5f5f5;
	font-style:      italic;
	font-size:       7pt;
	font-family:     Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none }

#hl-link  {
	color:          #000;
	text-decoration: none;
	alink:           EE1E13;
	link:            #000000;
	vlink:           #D30F0C  }
p { color: #211e1e; font-style: normal; font-weight: normal; font-size: 9pt; font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; list-style-type: disc }
ul { color: #211e1e; font-style: normal; font-weight: normal; font-size: 9pt; font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; list-style-type: disc }
ol { color: #211e1e; font-style: normal; font-weight: normal; font-size: 9pt; font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; list-style-type: disc }















td {
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
}


.label  {
	color:      #F5F5F5;
	background-color: #FE7519;
	font-style:  normal;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; }
	
.label2 {
	color:      #000000;
	font-style:  normal;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; }

}


	
.content  {
	color:      #000000;
	background-color: #F5F5F5;
	font-style:  normal;
	font-weight: normal;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";}


.content2  {
	color:      #000000;
	font-style:  normal;
	font-weight: normal;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; }

.input {

	color: #000000;
	font-style:  normal;
	font-weight: normal;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; }

}




.menuLink {
	color:      #000000;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.menuLink:hover {
	color:      #000000;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.menuLink:visited {
	color:      #000000;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.menuLink2 {
	color:      #F5F5F5;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.menuLink2:hover {
	color:      #F5F5F5;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.menuLink2:visited {
	color:      #F5F5F5;
	font-weight: bold;
	font-size:   9pt;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
	text-decoration: underline;
	
}

.topMenu {

	color:      #000000;
	background-color: #A0A0A4;
	font-style:  normal;
	font-weight: bold;
	font-size:   8pt;
	font-family: "tahoma", "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; 

}

.margin-left {
    marvin-left:10px;
}
